/* Reset css */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 1em;
}

header{
    background-color: dimgrey;
}
header div{
    text-align: center;
    padding: 30px 0px;
    font-size: 5vw;
}
header div h1{
    font-size: 5vw;
    color: cornsilk;
    text-shadow: 5px 5px 8px black;
}
.menu{
    background-color: black;
    z-index: 1;
    }
.menu nav ul{
    padding: 5px 20px;
}

.menu nav ul li{
    list-style: none;
    margin-right: 10px;
    width: 100%;
    padding: 1% 0px;
    font-size: 1.2em;
}

.menu nav ul li a{
    text-decoration: none;
    background-color: rgb(103, 104, 103);
    text-align: center;
    font-weight: bold;
    color: cornsilk;
    display: block;
    padding: 2%;
    border-radius: 20px;
    
}

.menu nav ul li a:hover{
    background-color: #566573;
    text-shadow: 3px 3px 5px black;
}
.welcome{
    position: relative;
}

.welcome figure img{
    width: 100%;
}

.welcome h3{
    font-size: 7vw;
    color:whitesmoke;
    text-align: center;
    position: absolute;
    width: 100%;
    top: 45%;
    text-shadow: 5px 5px 8px #566573;
}

.cabeceraservicios h2, .nuestroequipo h2{
    background-color: black;
    color: white;
    font-size: 5vw;
    text-align: center;
    width: 100;
    padding: 2%;
}

.cajaservicios{
    max-width: 80%;
    margin: 0 auto;
}

.cajaservicios h2 {
    text-align: center;
}
.servicio p, .cajapersonal p{
    font-size: 1em;
    margin: 0 20%;
    text-align: center;
    padding-bottom: 5%;
}

.cajapersonal h3{
    text-align: center;
}


.servicio img, .persona1 img{
    align-items: center;
    border: 10px solid white;
    align-items: center;
    border-radius: 20px;
    transition: transform 0.5s ease-in-out 0.5s;
    box-shadow: #4c4646 5px 5px 10px;
    opacity: 0.8;
    margin: 5% auto;
    display: block;
}

.persona1 img{
    opacity: 1;
}
.cajaservicios img:hover{
    transform: scale(1.2);
    opacity: 1.0;
}

.servicio h2{
    padding: 5%;
    font-size: 2em;
}

@media(min-width: 700px){
    .menu{
        background-color: black;
        position: sticky;
        top: 0px;
    }
    .menu nav{
        padding: 10px;
    }
    .menu nav ul li{
        display: inline-block;
        width: calc(20% - 14px);
    }
    .menu nav ul li a{
        display: block;
        padding: 10%;
    }
    .cajapersonal{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }
}

@media(min-width: 1024px){
    .cajaservicios{
        display:flex;
        flex-direction: row;
        justify-content: space-between;
        width: auto;
        background-color: whitesmoke;
    }
}